*{
    margin: 0px;
    padding: 0px;
}


nav{
    font-size: 1.8rem;
    background-color: #f8ffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 8%;
    text-align: center;
    
    
}

nav ul li{
    display: inline-block;
    padding: 11px 10px;
}


ul{
    list-style: none;
}
li:first-child{
    position: absolute;
    left: 20px;
    font-size: 70px;
}
.im{
    width: 10px;
    height: 5px;
}
li:nth-child(2){
    position: absolute;
    left: 5%;
    font-weight: 800;
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: rgb(10, 9, 9);
    margin: 10% 10%;
    padding: 20px;
    font-size: 70px;

}
a:hover{
    color: rgb(18, 4, 67)
}
.b{
    color:  rgb(26, 4, 106);
}
.sec{
    padding: 10px 10px 10px 10px;
    margin-left:30px;
    width: 10vw;height: 20vh;
    background-color: rgba(197, 219, 241, 0.966);
    border-radius: 10px;
    font-size: xx-large;


}
#in{
    border:1px solid white;
    border-radius: 10px;
    background-color: white;
    height: 25px;
    width:200px;
    padding: 2px;
    font-size: 60%;
}
#b1{
    background-color: blue;
    border:1px solid royalblue;
    color: white;
    margin-top: 10px;
    height: 40px;
    width:10vw;
    border-radius: 10px;


}
.sp{
    height: 20px;
    width: 20px;
    margin: 20px;
    font-size: 30px;
    align-items: center;

}
.foo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3000px;
    width: 3000px;
    justify-content:left;
    align-content: left;
   }
   
.job{
    width: 800px;
    height: 1000px;
    flex: 0 0 50px;
    margin: 5px;
    background-color: rgb(231, 239, 231);
   }
   h3{
    font-size: 20px;
   }
   